html {
  overflow-y: scroll;
}

body {
  position: relative;
  padding-bottom: 500px;
}

#main {
  margin-bottom: 50px;
}

.navbar-static-top {
  margin-bottom: 20px;
}

.navbar-inverse .brand {
  font-weight: bold;
}

.well {
  box-shadow: none;
}

.translation_missing {
  color: red;
}

div.alert-invalid h4 + ul {
  margin-top: 5px;
}

.modal form {
  margin: 0;
  padding: 0;
}

.modal-body {
  max-height: 400px;
}

.popover-content {
  p {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.control-label {
  font-weight: bold;
}

.form-horizontal {
  .control-label {
    width: 200px;
  }

  .controls {
    margin-left: 215px;
  }
}

.input-multiple {
  .input-append {
    display: block;
    margin-bottom: 5px;
  }
}

.navbar-inner {
  border-radius: 0;
}

.popover-title {
  font-weight: bold;
  line-height: 1;
}

h2 {
  line-height: 34px;
}

a.link-show {
  font-weight: bold;
}

a.nav-logout {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

table.table {
  th {
    white-space: nowrap;
  }

  td {
    vertical-align: middle;

    .btn {
      margin-top: 1px;
      margin-bottom: 1px;
    }
  }

  &.table-bordered {
    caption {
      background-color: #888;
      font-size: 18px;
      font-weight: bold;
      color: white;
      padding: 3px;
      border: solid 1px #888;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    caption + thead tr th {
      &:first-child {
        border-top-left-radius: 0;
      }

      &:last-child {
        border-top-right-radius: 0;
      }
    }
  }
}

.centered {
  text-align: center;
}

h2 .pull-right .btn {
  font-weight: normal;
}

.not-assigned {
  color: #999;
}

.paginated {
  .pageinfo, .pagination {
    margin: 5px 0;
    text-align: center;
  }
}

h2 form {
  margin: 0;
}

.search-container {
  margin-bottom: 0;
}
