.datingpicker-flyout {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px #CCC;
  background-color: #EEE;
  border: solid 1px #CCC;
  overflow-y: auto;
  position: absolute;
  width: 450px;
  padding: 20px;
}
