.flyout-person {
  p {
    font-size: 13px;
    line-height: 1.2;

    &:last-child {
      margin-bottom: 5px;
    }
  }

  ul {
    margin: -10px 0 10px 15px;
  }

  li {
    font-size: 13px;
    line-height: 1.2;
  }

  img.photo {
    width: 100px;
    margin: 3px 10px 10px 0;
    float: left;
  }

  .copyright {
    margin: -10px -15px 10px;
    font-size: 12px;
    line-height: 12px;
    padding: 7px 15px;
    color: white;
    font-weight: bold;
    background-color: #888;
    text-shadow: 0px 0px 3px #444;
    @include border-top-radius(6px);
  }

  .source {
    font-size: 10px;
    color: #666666;

    a {
      color: #666666;
    }
  }
}

.flyout-place {
  width: 300px;
  height: 300px;

  img {
    max-width: none;
  }

  label {
    width: auto; display:inline;
  }
}
